[submodule "Mana/vendor/spdlog"]
	path = Mana/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Mana/vendor/GLFW"]
	path = Mana/vendor/GLFW
	url = https://github.com/Ebsidia/glfw
[submodule "Mana/vendor/imgui"]
	path = Mana/vendor/imgui
	url = https://github.com/Ebsidia/imgui
[submodule "Mana/vendor/ImGui"]
	path = Mana/vendor/ImGui
	url = https://github.com/Ebsidia/imgui
[submodule "Mana/vendor/glm"]
	path = Mana/vendor/glm
	url = https://github.com/g-truc/glm
